@charset "utf-8";
/*!
 * @copyright:	https://github.com/divio/django-cms
 */
@import "settings/default";

.cms-blueprint {
    position: fixed;
    right: -1px;
    top: 0;
    z-index: 999;
    height: 100%;

    .cms-blueprint-trigger {
        cursor: pointer;
        position: absolute;
        right: -1px;
        top: 50px;
        z-index: 11;
        width: 31px;
        height: 31px;
        border: 1px solid $color-grey;
        border-right: none;
        background: $color-grey-5;

        &:hover {
            background: white;
        }
        span {
            display: block;
            overflow: hidden;
            text-indent: -999px;
            width: 20px;
            height: 20px;
            margin: 5px 0 0 5px;
            background: url('../../aldryn_blueprint/img/blueprint-sprite.png') no-repeat -3px -110px;
        }
    }

    &.cms-blueprint-open .cms-blueprint-trigger span {
        background-position: -3px -87px;
    }

    /* CONTAINER */
    .cms-blueprint-container {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        width: 250px;
        margin-right: -250px;
        margin-bottom: -1px;
        border-left: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
        background: #fafafa;
    }

    .cms-blueprint-inner {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    .cms-blueprint-intro {
        @include border-radius(3px);
        padding: 10px;
        border: 1px solid $color-grey-10;
        background: white;
        * {
            text-align: center;
            padding: 0;
            margin: 0;
        }
        h2 {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    .cms-blueprint-templates {
        list-style-type: none;
        overflow: hidden;
        padding: 0;
        margin: 0;

        h2 {
            font-size: 10px;
        }

        li {
            cursor: move;
            position: relative;
            text-align: center;
            padding: 0;
            margin: 0 0 10px;
            border: 1px solid $color-grey-10;
        }
        li:hover {
            border-color: black;
            opacity: 0.8;
        }
        li img {
            width: 100%;
        }
        li span {
            display: block;
            min-width: 180px;
            padding: 10px 0;
            background: white;
        }
        li strong {
            display: block;
        }
    }

    // options
    .cms-blueprint-menu {
        @include border-radius(3px);
        position: absolute;
        right: 5px;
        top: 5px;
        background: white;
        a {
            display: block;
            text-align: right;
            width: 15px;
            height: 15px;
            @include hide-text();
        }
    }
    .cms-blueprint-edit {
        background: no-repeat url('../../aldryn_blueprint/img/blueprint-sprite.png') -2px -21px !important;
        &:hover {
            background-position: -21px -21px !important;
        }
    }
    .cms-blueprint-delete {
        background: no-repeat url('../../aldryn_blueprint/img/blueprint-sprite.png') -2px -2px !important;
        &:hover {
            background-position: -21px -2px !important;
        }
    }

    // accordion feature
    .cms-blueprint-accordion-trigger {
        position: relative;
        h3 {
            cursor: pointer;
            font-size: 16px;
            span {
                color: $color-grey-20;
            }
        }
        h3:after {
            @include transition(all, 300ms);
            @include transform(rotate(-90deg));
            content: " ";
            display: block;
            position: absolute;
            right: 10px;
            top: 3px;
            // arrow
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-grey-70;
        }
    }
    .cms-blueprint-accordion-active {
        h3:after {
            @include transform(rotate(0deg));
        }
    }

    // no plugin
    .empty {
        cursor: default !important;
        color: $color-grey-20;
        border: none !important;
    }

    // blueprint overlay loader
    .cms-blueprint-loader {
        position: absolute;
        left: 1px;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        span {
            @include hide-text();
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 40px;
            height:40px;
            margin: -20px 0 0 -20px;
            background: no-repeat left top url('../../aldryn_blueprint/img/loader.gif');
        }
    }
}

// add additional padding when toolbar is expanded
.cms-toolbar-expanded {
    .cms-blueprint-container {
        padding-top: 30px;
    }
}

.cms-blueprint-dropshadow,
.cms-blueprint-dropshadow-open {
    display: none;
    font: normal 13px/20px Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1;
    color: $color-grey-20;
    text-transform: uppercase;
    padding: 8px 8px 7px 8px;
    margin: 5px 0 0;
    border: 1px dashed $color-grey-10;
    background: transparent;
    @include border-radius(3px);
}
.cms-blueprint-dropshadow-active {
    color: $color-green;
    border-color: $color-green;
    background:lighten($color-green, 40%);
}
.cms-blueprint-dropshadow-open {
    cursor: pointer;
    display: block;
    &:hover {
        color: $color-green;
        border-color: $color-green;
    }
}

// additional dragging capabilities
.cms_plugin-blueprint-draggable {
    display: block;
    position: relative;
    clear: both;
    &:hover {
        cursor: move;
        outline: 1px solid $color-grey-70;
        .cms_plugin-blueprint-draggable-menu {
            display: block;
        }
    }
}
.cms_plugin-blueprint-draggable-menu {
    @include border-radius(3px 0 0 3px);
    display: none;
    position: absolute;
    left: -31px;
    top: -1px;
    background: $color-grey-70;
    a {
        @include hide-text();
        display: block;
        width: 30px;
        height: 30px;
        background: no-repeat url('../../aldryn_blueprint/img/blueprint-sprite.png') left top;
    }
    .blueprint-edit {
        display: none; // INFO currently disabled
        background-position: 0 -135px;
    }
    .blueprint-delete {
        background-position: -30px -135px;
    }
    .blueprint-drag {
        cursor: move;
        background-position: -60px -135px;
    }
}

// active state when saving
.cms-blueprint-active-plugin {
    border: 1px dashed $color-green;
}
